*.md linguist-detectable=true
*.md linguist-documentation=false
samples/**/*.js linguist-detectable=true
samples/**/*.js linguist-documentation=false
samples/**/*.json linguist-detectable=true
samples/**/*.json linguist-documentation=false
